# GITHUB VARIABLES
# Cypress test target and application login configuration
CYPRESS_BASE_URL="https://example.com/admin"
CYPRESS_LOGIN_NAME="admin"
CYPRESS_LOGIN_EMAIL="admin@example.com"
CYPRESS_LOGIN_PASSWORD="password"

# GITHUB SECRETS
# Database connection configuration
CYPRESS_DB_HOST="127.0.0.0"
CYPRESS_DB_NAME="db_name"
CYPRESS_DB_USER="db_user"
CYPRESS_DB_PASSWORD="db_password"
CYPRESS_DB_PORT=3306
